<%= render 'layouts/header' %>

<div class='container theme-showcase' role='main'>
  <div class='jumbotron'>
    <h1>Welcome to
      <span class='logo'><strong>DONE</strong>ZO</span>
    </h1>
    <p class='text-info'>The TODO list's long lost brother: a <strong>done</strong> list.</p>
    <p>
      <%= link_to 'Sign up',
          new_identity_registration_path,
            class: 'btn btn-success btn-lg',
            role: 'button' %>
    </p>
  </div>
</div>
